#header{
    width: 100%;
}
#logo{
    width: 80%;
}
.menuname a{
    color: black;
}
.menuname{
    text-align: center;
}
.menuname a:hover{
    color: black;
    text-decoration: none;
}
.balk{
    background-color: yellow;
    height: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.menubalk{
    width: 110%;
    margin-left: -5% !important;
}